main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading-wrapper,
.search-end-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}

.scraped-artists-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  gap: 4rem;
}

.artists-wrapper {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  color: black;
  overflow: hidden;
  height: 50%;
}

.artists-wrapper-title {
  text-align: start;
  font-size: var(--fs-300);
  padding-bottom: 0.5rem;
  margin: 0;
  color: black;
}

.artists-wrapper-loading {
  padding-bottom: 1rem;
}

.artist-item {
  padding: 1rem 1rem 1rem 0;
  font-size: var(--fs-100);
}

.scraped-artist-list {
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 1rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.808);
    }
  }
}

.title-wrapper {
  width: 50%;
}

.title {
  font-size: var(--fs-600);
  font-weight: bold;
}

.sub-title {
  font-size: var(--fs-300);
}

.minor-title {
  font-size: var(--fs-200);
}

::ng-deep {
  .progress-bar {
    height: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 641px) and (max-width: 1280px) {
  .scraped-artists-wrapper {
    flex-direction: column;
    margin: 1.5rem;
  }

  .title-wrapper {
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: var(--fs-400);
    font-weight: bold;
  }

  .sub-title {
    font-size: var(--fs-200);
  }

  .minor-title {
    font-size: var(--fs-100);
  }

  .loading-wrapper,
  .-search-end-wrapper {
    margin: 1.5rem;
  }
}

@media (max-width: 640px) {
  .scraped-artists-wrapper {
    flex-direction: column;
    margin: 1rem;
    gap: 2rem;
  }

  .title-wrapper {
    text-align: center;
    width: 100%;
  }

  .title {
    font-size: var(--fs-400);
    font-weight: bold;
  }

  .sub-title {
    font-size: var(--fs-100);
  }

  .minor-title {
    font-size: var(--fs-000);
  }

  .loading-wrapper,
  .-search-end-wrapper {
    margin: 1rem;
  }
}
