<main>
  <section *ngIf="hasArtistsWithoutCountry == undefined" class="loading-wrapper">
    <h1>Fetching your top artists...</h1>
    <i class="bx bxs-music bx-tada"></i>
  </section>

  <section
    class="scraped-artists-wrapper"
    *ngIf="hasArtistsWithoutCountry && !hasCompletedArtistsSearch"
  >
    <div class="title-wrapper">
      <h1 class="title">
        You listen to {{ artistsWithoutCountryQuantity }} artists that we never heard about
      </h1>
      <h2 class="sub-title">Before proceeding, we need to find where they come from</h2>
      <h3 class="minor-title">But don't worry, this shouldn't take long</h3>
    </div>

    <div class="artists-wrapper">
      <h2 class="artists-wrapper-title">Your unknown artists</h2>
      <div class="artists-wrapper-loading" *ngIf="scrapedArtistsData.length == 0">
        <span>Finding where they come from...</span>
      </div>
      <div class="scraped-artist-list">
        <div class="artist-item" *ngFor="let scrapedArtistData of scrapedArtistsData">
          <span
            class="{{
              'fi fi-' +
                (scrapedArtistData.artist.country == null
                  ? 'xx'
                  : scrapedArtistData.artist.country.flagCode)
            }}"
          ></span>
          <span>
            {{ scrapedArtistData.artist.name }}
          </span>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="hasArtistsWithoutCountry && hasCompletedArtistsSearch" class="search-end-wrapper">
    <h1>Now, let's proceed!</h1>
  </section>
</main>
