:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  padding: 6rem 2rem 0 2rem;
}

.title {
  font-size: var(--fs-600);
  font-weight: bold;
  margin: 0;
}

.content-wrapper {
  padding-bottom: 5rem;
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    gap: 2rem;
  }

  .title {
    font-size: var(--fs-500);
    text-align: center;
  }
}

@media (max-width: 640px) {
  :host {
    gap: 1rem;
  }

  .title {
    font-size: var(--fs-200);
    text-align: center;
  }
}
