:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem;
  gap: 2rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.title {
  font-size: var(--fs-500);
  font-weight: bold;
  margin: 0;
  width: 50%;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2/1;
}

@media (min-width: 641px) and (max-width: 1280px) {
  section {
    gap: 2rem;
  }

  .title {
    font-size: var(--fs-200);
    width: 75%;
  }
}

@media (max-width: 640px) {
  section {
    gap: 1rem;
  }

  .title {
    font-size: var(--fs-200);
    width: 100%;
    text-align: center;
  }
}
