:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 2rem;
  width: 100%;
  gap: 3rem;
  background-color: #faedcd;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-size: var(--fs-600);
  text-align: center;
  font-weight: bold;
  margin: 0;
}

h3 {
  color: #4c5041;
}

.tree-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: var(--fs--100);
  color: #4c5041;
  text-align: center;
  margin-top: 32px;
}

.regions-count {
  background: #fab16c;
  padding: 16px;
  border-radius: 16px;
  color: #4c5041;
}

.subregions-count {
  background: #e58876;
  padding: 16px;
  border-radius: 16px;
  color: #4c5041;
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    padding: 6rem 1.5rem;
  }

  .title {
    font-size: var(--fs-500);
  }
}

@media (max-width: 640px) {
  :host {
    padding: 6rem 1rem;
  }

  .title {
    font-size: var(--fs-200);
  }
}
