:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--fs-600);
  text-align: center;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tree-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  section {
    gap: 1rem;
  }

  .title {
    font-size: var(--fs-200);
  }
}

@media (min-width: 641px) and (max-width: 1280px) {
  section {
    gap: 2rem;
  }

  .title {
    font-size: var(--fs-500);
  }
}
