:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  gap: 2rem;
  background-color: #5c83ad;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--fs-600);
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.tree-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80dvh;
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    gap: 2rem;
  }

  .title {
    font-size: var(--fs-500);
  }
}

@media (max-width: 640px) {
  :host {
    gap: 1rem;
  }

  .title {
    font-size: var(--fs-400);
  }
}
