:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: grid;
  padding: 2rem;
  width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 3rem;
  }
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-item {
  font-size: 4rem;
  font-weight: bold;
}

.tree-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
