:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  gap: 2rem;
  background-color: #faedcd;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--fs-600);
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 5rem 0 2rem 0;
  color: #836547;
}

.tree-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    gap: 2rem;
    padding: 1.5rem;
  }

  .title {
    font-size: var(--fs-500);
  }
}

@media (max-width: 640px) {
  :host {
    gap: 1rem;
    padding: 1rem;
  }

  .title {
    font-size: var(--fs-200);
  }
}
