:host {
  position: relative;
}

.stats-selection {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: black;
  border-radius: 16px;
  width: fit-content;
  position: absolute;
}

p {
  margin: 0 0 8px 0;
}
