:host {
  position: relative;
}

.stats-selection {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: black;
  border-radius: 16px;
  width: fit-content;
  position: absolute;
}

p {
  margin: 0 0 8px 0;
}

@media (max-width: 641px) {
  .stats-selection {
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
