<div>
  <div class="diversity-wrapper">
    <h3>Congratulations! Your country diversity rating is {{ comparedDiversity }}</h3>
    <span class="rating-explanation">
      It means that the music you listen to comes from more countries that
      {{ comparedDiversity }} of our users!
    </span>
  </div>

  <div class="ranking-wrapper">
    <div class="ranking-header">
      <h2 class="ranking-title">Ranking</h2>
      <span class="ranking-subtitle">by artists per country</span>
    </div>
    <div class="ranking-content">
      <table>
        <thead>
          <th class="table-header-column">Country</th>
          <th class="table-header-column">Artists</th>
        </thead>
        <tbody>
          <tr class="table-row" *ngFor="let countryCount of countriesCount; let i = index">
            <td class="country-column">
              <div>
                <span class="{{ 'flag fi fi-' + countryCount.country.flagCode }}"></span>
              </div>
              <div class="country">
                <span>{{ countryCount.country.name }}</span>
                <p-progressBar
                  [value]="(countryCount.count / artists.length) * 100"
                ></p-progressBar>
              </div>
            </td>

            <td class="artist-count-column">
              {{ countryCount.count }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
