:host {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: var(--ranking-wrapper-padding);
  border-radius: var(--ranking-border-radius);
  overflow-y: auto;
  width: var(--ranking-width);
  color: black;
  height: 50vh;

  --ranking-wrapper-padding: 2rem 2rem 1rem 2rem;
  --ranking-border-radius: 1rem;
  --ranking-width: 100%;
  --ranking-padding: 1rem 0;
  --ranking-table-header-column: 0.5rem;
  --ranking-country-column-padding-bottom: 0.5rem;
  --ranking-flag-font-size: 1.75rem;
  --ranking-flag-margin-right: 0.5rem;
  --ranking-artist-count-column: 1rem 0;
}

.ranking-header {
  .ranking-title {
    margin: 0;
  }

  .ranking-subtitle {
    color: #585858;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

.ranking-content {
  overflow-y: auto;
  padding: var(--ranking-padding);

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 1rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.808);
    }
  }

  table {
    border-collapse: separate;
    width: 100%;

    .table-header-column {
      color: black;
      font-size: smaller;
      padding-bottom: var(--ranking-table-header-column);
      text-align: left;

      &:last-child {
        text-align: right;
      }
    }

    .table-row {
      &:last-child {
        width: 0;
      }

      &:last-of-type {
        & .country-column,
        .artist-count-column {
          padding-bottom: 0;
        }
      }
    }

    .country-column {
      display: flex;
      white-space: nowrap;
      padding-bottom: var(--ranking-country-column);

      .flag {
        font-size: var(--ranking-flag-font-size);
        margin-right: var(--ranking-flag-margin-right);
      }

      .country {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .country-name {
        font-size: 1.2rem;
        margin: 0;
      }
    }

    .artist-count-column {
      text-align: right;
      vertical-align: bottom;
      padding: var(--ranking-artist-count-column);
    }
  }
}
