<main>
  <p-messages
    class="map-messages"
    key="map-messages"
    [(value)]="messages"
    [enableService]="false"
    [closable]="false"
  ></p-messages>

  <ctg-world-map
    [artists]="artists"
    [countriesData]="countriesData"
    [isMobile]="isMobile"
    (shouldOpenRankings)="openRankings()"
  ></ctg-world-map>

  <ctg-rankings
    [artists]="artists"
    [countriesData]="countriesData"
    [regionsData]="regionsData"
    [isMobile]="isMobile"
    [shouldOpenRankings]="shouldOpenRankings"
    (shouldHideRankings)="hideRankings()"
  ></ctg-rankings>
</main>
