main {
  background-color: #121212;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.map-messages {
  inset: 0;
  position: absolute;
  margin: auto auto 0 auto;
  width: fit-content;
  height: fit-content;
  z-index: 9999;

  @media (max-width: 768px) {
    margin: 0 1rem auto 1rem;
  }
}
