main {
  background-color: #121212;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.map-messages {
  inset: 0;
  position: absolute;
  margin: auto auto 0 auto;
  width: fit-content;
  height: fit-content;

  @media (max-width: 768px) {
    margin: 0 1rem auto 1rem;
  }
}

::ng-deep {
  .p-tabmenu-nav {
    display: flex;

    li {
      flex: 1;

      a {
        width: 100%;
      }
    }
  }

  .suggestion-message-wrapper .p-message-warn {
    margin-top: 0;
  }

  .p-sidebar-active {
    height: 95% !important;
  }
}

.tab-menu {
  margin-bottom: 1rem;
}

.data-wrapper {
  display: flex;
  flex-flow: column;
  background-color: #121212;
  padding: 2rem;
  color: white;

  h1 {
    margin-top: 0;
  }

  .tab-icon {
    margin-right: 0.5rem;
  }

  .suggestion-message {
    display: flex;
  }

  .suggestion-message-content {
    margin-top: 1rem;
  }

  .suggestion-message-close-btn {
    display: flex;
    align-items: center;
  }

  .suggestion-message-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .data-title-wrapper {
    margin-bottom: 1rem;
  }

  .countries-data-title {
    margin-top: 1rem;
  }

  .artist-data-title {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & div:first-child {
      text-wrap: nowrap;
      margin-right: 2rem;
    }
  }

  .data-title {
    margin: 0;
  }

  .data-subtitle {
    color: grey;
  }

  .data-name {
    margin-bottom: 0.5rem;
  }

  .data {
    display: flex;
    flex-flow: column;
    background-color: #303030;
    padding: 1rem;
    border-radius: 1rem;
    overflow-y: auto;
  }

  .countries-data {
    padding: 0 1rem;
  }

  .artist-data-fix {
    padding: 0 1rem;
  }

  .data-content-wrapper {
    overflow-y: auto;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 1rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.808);
      }
    }

    .region-data-wrapper {
      margin-top: 1rem;
    }

    .geo-data {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid grey;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;

      & span:first-child {
        padding-right: 2rem;
      }
    }

    .sub-region-data {
      padding-left: 1rem;
    }

    .intermediate-region-data {
      padding-left: 2rem;
    }

    .flag {
      margin-right: 0.25rem;
    }

    .country-table {
      border-collapse: separate;
      width: 100%;

      thead th {
        padding-left: 0;

        &:last-child {
          text-align: right;
        }

        text-align: left;
        color: #ffffff8c;
        font-size: smaller;
      }

      td {
        white-space: nowrap;
        padding-bottom: 1rem;

        &:last-child {
          width: 0;
        }
      }

      tr:last-child {
        td {
          padding: 0;
        }
      }

      tr:first-child {
        td {
          padding-top: 0.75rem;
        }
      }

      .country-column {
        display: flex;

        .flag {
          font-size: 1.75rem;
          margin-right: 0.5rem;
        }

        .country-column-data {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .count-column {
        text-align: right;
        vertical-align: bottom;
      }
    }
  }

  .artist-content {
    padding: 1rem 0;
  }

  .artist-table {
    border-collapse: separate;
    border-spacing: 0 0;

    td {
      white-space: nowrap;
      padding: 0 0 1.5rem 0.5rem;
    }

    tr:last-child {
      td {
        padding: 0;
      }
    }

    .data-index {
      padding: 0 0.5rem 1.5rem 0;
      text-align: center;
      font-size: 1.3rem;
    }

    .artist-data {
      .artist-name {
        font-size: 1.2rem;
      }

      .country-name {
        font-size: 0.9rem;
      }

      .flag {
        margin-top: 0.25rem;
      }
    }
  }
}
