<main>
  <div class="data-wrapper">
    <h1>Results</h1>
    <div class="data-selector-wrapper">
      <button (click)="setSelectedData(DataTypes.COUNTRIES)" class="data-selector">
        <i class="bx bxs-flag-alt"></i>
        <span>Countries</span>
      </button>
      <button (click)="setSelectedData(DataTypes.REGIONS)" class="data-selector">
        <i class="bx bx-world"></i>
        <span>Regions</span>
      </button>
      <button (click)="setSelectedData(DataTypes.ARTISTS)" class="data-selector">
        <i class="bx bxs-user"></i>
        <span> Artists </span>
      </button>
    </div>
    <div *ngIf="selectedData == DataTypes.COUNTRIES" class="data">
      <h2 class="data-title">Top Countries</h2>
      <div class="data-content-wrapper">
        <table>
          <thead>
            <th>#</th>
            <th>Country</th>
            <th>Artists</th>
          </thead>
          <tr *ngFor="let countryData of countriesData; let i = index">
            <td
              class="data-index"
              [ngClass]="{ 'first-place': i == 0, 'second-place': i == 1, 'third-place': i == 2 }"
            >
              {{ "#" + (i + 1) }}
            </td>
            <td>
              <span class="{{ 'flag fi fi-' + countryData.country.flagCode }}"></span>
              <span>{{ countryData.country.name }}</span>
            </td>
            <td class="data-count">
              <span>{{ countryData.count }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="selectedData == DataTypes.REGIONS" class="data">
      <h2 class="data-title">Top Regions</h2>
      <div class="data-content-wrapper region-data-wrapper">
        <div *ngFor="let region of regionsData">
          <div class="geo-data">
            <span>{{ region.name }}</span>
            <span>{{ region.count }}</span>
          </div>
          <div *ngFor="let subRegion of region.subRegions">
            <div class="geo-data sub-region-data">
              <span>{{ subRegion.name + " (" + subRegion.count + ")" }}</span>
            </div>
            <div
              class="geo-data intermediate-region-data"
              *ngFor="let intermediateRegion of subRegion.intermediateRegions"
            >
              <span>{{ intermediateRegion.name + " (" + intermediateRegion.count + ")" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedData == DataTypes.ARTISTS" class="data">
      <h2 class="data-title">Top Artists</h2>
      <div class="data-content-wrapper">
        <table>
          <tr *ngFor="let artist of artists; let i = index">
            <td
              class="data-index"
              [ngClass]="{ 'first-place': i == 0, 'second-place': i == 1, 'third-place': i == 2 }"
            >
              {{ "#" + (i + 1) }}
            </td>
            <td>
              <div class="artist-data">
                <span class="artist-name">
                  {{ artist.name }}
                </span>
                <div>
                  <span
                    class="{{
                      'flag fi fi-' + (artist.country == null ? 'xx' : artist.country.flagCode)
                    }}"
                  >
                  </span>
                  <span class="country-name">
                    {{ artist.country?.name || "Unknown" }}
                  </span>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div #mapWrapper class="map-wrapper"></div>
</main>
