main {
  background-color: #121212;
  height: 100vh;
  display: flex;
}

.data-wrapper {
  background-color: #121212;
  padding: 2rem;
  color: white;

  .data-selector-wrapper {
    display: flex;
    justify-content: space-between;

    .data-selector {
      flex-grow: 1;
      text-decoration: none;
      border: none;
      cursor: pointer;
      padding: 0.75rem;

      &:first-child {
        border-radius: 0.5rem 0 0 0.5rem;
      }

      &:nth-child(2) {
        border-left: 2px solid black;
        border-right: 2px solid black;
      }

      &:last-child {
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
  }

  .data-title {
    margin: 1rem 0 0 1rem;
  }

  .data {
    background-color: #303030;
    padding: 1rem;
    margin: 1rem 0 0 0;
    border-radius: 1rem;
  }

  .data-content-wrapper {
    padding: 1rem;
  }

  .geo-data {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;

    & span:first-child {
      padding-right: 2rem;
    }
  }

  .sub-region-data {
    padding-left: 1rem;
  }

  .intermediate-region-data {
    padding-left: 2rem;
  }

  .flag {
    margin-right: 1rem;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    td {
      padding: 0.5rem 0;
    }

    tr {
      border-bottom: 1px solid grey;
    }

    .country-row {
      padding-left: 1.25rem;

      .flag {
        margin-right: 0.25rem;
      }
    }
  }
}

.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100vw;

  .svg {
    margin: 1rem;
  }
}
