main {
  background-color: #121212;
  height: 100vh;
  display: flex;
}

.data-wrapper {
  display: flex;
  flex-flow: column;
  background-color: #121212;
  padding: 2rem;
  color: white;

  h1 {
    margin-top: 0;
  }

  .suggestion-message {
    display: flex;
  }

  .suggestion-message-content {
    margin-top: 1rem;
  }

  .suggestion-message-close-btn {
    display: flex;
    align-items: center;
  }

  .suggestion-message-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .data-selection-wrapper {
    display: flex;

    & * {
      flex: 1;
    }
  }
  .data-title {
    margin: 1rem 0 0 1rem;
  }

  .data {
    background-color: #303030;
    padding: 1rem;
    margin: 1rem 0 0 0;
    border-radius: 1rem;
    overflow: auto;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 16px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.808);
      }
    }
  }

  .data-content-wrapper {
    padding: 0 1rem 0 1rem;

    table {
      border-collapse: separate;
      border-spacing: 0 0.75rem;
      width: 100%;

      th {
        &:first-child {
          padding-left: 0;
        }

        text-align: left;
        padding-left: 0.5rem;
        color: #ffffff8c;
        font-size: smaller;
      }

      td {
        white-space: nowrap;
        padding: 0.5rem;
      }

      .data-index {
        padding: 0.75rem;
        margin: 0.25rem;
        border-radius: 0.5rem;
        text-align: center;
      }

      .artist-data {
        padding: 0 0 0 0.5rem;

        .artist-name {
          font-size: large;
        }

        .country-name {
          font-size: small;
        }
      }

      .data-count {
        text-align: right;
      }

      .first-place {
        font-weight: bold;
        background-color: #ffc800;
      }

      .second-place {
        font-weight: bold;

        background-color: #b0b1b8;
      }

      .third-place {
        font-weight: bold;
        background-color: #a78867;
      }
    }
  }

  .region-data-wrapper {
    margin-top: 1rem;
  }

  .geo-data {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;

    & span:first-child {
      padding-right: 2rem;
    }
  }

  .sub-region-data {
    padding-left: 1rem;
  }

  .intermediate-region-data {
    padding-left: 2rem;
  }

  .flag {
    margin-right: 0.25rem;
  }
}

.map-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  width: 100vw;

  .svg {
    margin: 1rem;
  }
}
