:host {
  display: flex;
}

::ng-deep {
  .p-tabmenu-nav {
    display: flex;

    li {
      flex: 1;

      a {
        width: 100%;
      }
    }
  }

  .p-sidebar-active {
    height: 90% !important;
  }

  .p-sidebar-header {
    background-color: #121212;
    padding: 0 1rem !important;
  }

  .p-sidebar-content {
    display: flex;
    background-color: #121212;
    .data-wrapper {
      padding: 0 !important;
      width: 100%;
    }
  }

  .p-sidebar-footer {
    display: none;
  }
}

.tab-menu {
  margin-bottom: 1rem;
}

.data-wrapper {
  display: flex;
  flex-flow: column;
  background-color: #121212;
  padding: 2rem;
  color: white;

  h1 {
    margin-top: 0;
  }
}

.rankings-wrapper {
  background-color: #303030;
  border-radius: 1rem;

  .rankings-title {
    margin: 1rem 0 0 1rem;
  }
}

.rating-wrapper {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #303030;
  margin-bottom: 1rem;

  .rating-title {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  .rating-subtitle {
  }
}
