<p-sidebar
  *ngIf="isMobile; else desktopTemplate"
  [(visible)]="shouldOpenRankings"
  position="bottom"
  (onHide)="hideRankings()"
>
  <ng-template pTemplate="header">
    <h1>Results</h1>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="data-wrapper">
      <p-tabMenu
        class="tab-menu"
        [model]="items"
        [activeItem]="items[0]"
        (activeItemChange)="onActiveItemChange($event)"
      ></p-tabMenu>

      <ctg-countries-rank *ngIf="activeItem == DataTypes.COUNTRIES"></ctg-countries-rank>
      <ctg-regions-rank *ngIf="activeItem == DataTypes.REGIONS"></ctg-regions-rank>
      <ctg-artists-rank *ngIf="activeItem == DataTypes.ARTISTS"></ctg-artists-rank>
    </div>
  </ng-template>
</p-sidebar>

<ng-template #desktopTemplate>
  <div
    [ngStyle]="{
      background: mapTheme.background,
    }"
    class="data-wrapper"
  >
    <div class="rating-wrapper">
      <h2 class="rating-title">{{ comparedDiversity.comparedDiversity }}</h2>
      <span class="rating-subtitle">World Traveller Rating</span>
    </div>

    <div class="rankings-wrapper">
      <h2 class="rankings-title">Rankings</h2>
      <p-tabMenu
        class="tab-menu"
        [model]="items"
        [activeItem]="items[0]"
        (activeItemChange)="onActiveItemChange($event)"
      ></p-tabMenu>

      <ctg-countries-rank *ngIf="activeItem == DataTypes.COUNTRIES"></ctg-countries-rank>
      <ctg-regions-rank *ngIf="activeItem == DataTypes.REGIONS"></ctg-regions-rank>
      <ctg-artists-rank *ngIf="activeItem == DataTypes.ARTISTS"></ctg-artists-rank>
    </div>
  </div>
</ng-template>
