<p-sidebar
  *ngIf="isMobile; else desktopTemplate"
  [(visible)]="shouldOpenRankings"
  position="bottom"
  (onHide)="hideRankings()"
>
  <ng-template pTemplate="header">
    <h1>Results</h1>
  </ng-template>

  <ng-template pTemplate="content">
    <div class="data-wrapper">
      <p-tabMenu
        class="tab-menu"
        [model]="items"
        [activeItem]="items[0]"
        (activeItemChange)="onActiveItemChange($event)"
      ></p-tabMenu>

      <ctg-countries-rank
        *ngIf="activeItem == DataTypes.COUNTRIES"
        [countriesData]="countriesData"
        [artists]="artists"
      ></ctg-countries-rank>

      <ctg-regions-rank
        *ngIf="activeItem == DataTypes.REGIONS"
        [regionsData]="regionsData"
      ></ctg-regions-rank>

      <ctg-artists-rank
        *ngIf="activeItem == DataTypes.ARTISTS"
        [artists]="artists"
      ></ctg-artists-rank>
    </div>
  </ng-template>
</p-sidebar>

<ng-template #desktopTemplate>
  <div class="data-wrapper">
    <div>
      <h1>Results</h1>
    </div>

    <p-tabMenu
      class="tab-menu"
      [model]="items"
      [activeItem]="items[0]"
      (activeItemChange)="onActiveItemChange($event)"
    ></p-tabMenu>

    <ctg-countries-rank
      *ngIf="activeItem == DataTypes.COUNTRIES"
      [countriesData]="countriesData"
      [artists]="artists"
    ></ctg-countries-rank>

    <ctg-regions-rank
      *ngIf="activeItem == DataTypes.REGIONS"
      [regionsData]="regionsData"
    ></ctg-regions-rank>

    <ctg-artists-rank
      *ngIf="activeItem == DataTypes.ARTISTS"
      [artists]="artists"
    ></ctg-artists-rank>
  </div>
</ng-template>
