:host {
  display: flex;
}

::ng-deep {
  .p-tabmenu-nav {
    display: flex;

    li {
      flex: 1;

      a {
        width: 100%;
      }
    }
  }

  .p-sidebar-active {
    height: 90% !important;
  }

  .p-sidebar-header {
    background-color: #121212;
    padding: 0 1rem !important;
  }

  .p-sidebar-content {
    display: flex;
    background-color: #121212;
    .data-wrapper {
      padding: 0 !important;
      width: 100%;
    }
  }

  .p-sidebar-footer {
    display: none;
  }

  .color-theme-selector {
    display: flex;
    flex-direction: column;
  }

  .map-color-palette {
    margin-bottom: 0.5rem;
  }

  .map-background-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .map-background-input {
    margin: 0.5rem 0;

    &:last-child {
      margin: 0.5rem 0 0 0;
    }

    label {
      margin-left: 0.5rem;
    }
  }
}

.palette-colors-array {
  display: flex;
}

.tab-menu {
  margin-bottom: 1rem;
}

.data-wrapper {
  display: flex;
  flex-flow: column;
  background-color: #121212;
  padding: 2rem;
  color: white;

  .data-wrapper-title {
    margin-top: 0;
  }
}

.rating-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border-radius: 1rem;
  margin-bottom: 1rem;

  .rating-title {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  .rating-item {
    background-color: #303030;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.rankings-wrapper {
  background-color: #303030;
  border-radius: 1rem;
  overflow-y: auto;

  .rankings-title {
    margin: 1rem 0 0 1rem;
  }
}

.actions-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

::ng-deep {
  .action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #303030;
    color: white;
    border-radius: 1rem;

    .p-button-label {
      flex: none;
    }
  }
}
