::ng-deep {
  .suggestion-dropdown {
    width: 100%;
  }

  .p-tabview-title {
    text-wrap: wrap !important;
  }

  .p-tabview-panels {
    padding: 1rem 0 !important;
  }
}

.bulk-suggest-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .guide {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .guide-item {
    display: flex;
    gap: 0.5rem;
    align-items: start;
  }

  p-dropdown {
    margin-top: 1rem;
    width: 100%;
  }
}

.confirm-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.table-column {
  display: flex;
  flex-direction: column;
}

.artist-data {
  margin-bottom: 1rem;
}

.artist-name {
  font-size: 1.2rem;
}

.suggestion-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
