<div>
  <p-tabView>
    <p-tabPanel header="Suggest individually" leftIcon="bx bx-user">
      <p-table
        *ngIf="isMobile; else desktopIndividualTableTemplate"
        [value]="artistsWithSuggestion"
        [scrollable]="true"
        scrollHeight="50vh"
      >
        <ng-template pTemplate="body" let-artist let-rowIndex="rowIndex">
          <tr>
            <td class="table-column">
              <div class="artist-data">
                <span class="artist-name">
                  {{ artist.name }}
                </span>
                <div>
                  <span
                    class="{{
                      'flag fi fi-' + (artist.country == null ? 'xx' : artist.country.flagCode)
                    }}"
                  >
                  </span>
                  <span>
                    {{ artist.country?.name || "Unknown" }}
                  </span>
                </div>
              </div>

              <div class="suggestion-dropdown-wrapper">
                <label for="country-suggestion">Country suggestion</label>
                <p-dropdown
                  [(ngModel)]="artistsWithSuggestion[rowIndex].suggestedCountry"
                  [filter]="true"
                  [options]="countries"
                  [showClear]="true"
                  [virtualScroll]="true"
                  [virtualScrollItemSize]="20"
                  aria-label="Dropdown input to choose a country to suggest"
                  filterBy="name"
                  optionLabel="name"
                  placeholder="Select a country"
                  styleClass="suggestion-dropdown"
                  appendTo="body"
                >
                  <ng-template pTemplate="selectedItem">
                    <div *ngIf="artistsWithSuggestion[rowIndex].suggestedCountry">
                      <span
                        class="{{
                          'flag fi fi-' + artistsWithSuggestion[rowIndex].suggestedCountry?.flagCode
                        }}"
                      >
                      </span>
                      <span>
                        {{ artistsWithSuggestion[rowIndex].suggestedCountry?.name }}
                      </span>
                    </div>
                  </ng-template>

                  <ng-template let-country pTemplate="item">
                    <div>
                      <span class="{{ 'flag fi fi-' + country.flagCode }}"></span>
                      <span>
                        {{ country.name }}
                      </span>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <ng-template #desktopIndividualTableTemplate>
        <p-table [value]="artistsWithSuggestion" [scrollable]="true" scrollHeight="50vh">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Country</th>
              <th>Suggested country</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-artist let-rowIndex="rowIndex">
            <tr>
              <td>{{ artist.name }}</td>
              <td>
                <span
                  class="{{
                    'flag fi fi-' + (artist.country == null ? 'xx' : artist.country.flagCode)
                  }}"
                >
                </span>
                <span>
                  {{ artist.country?.name || "Unknown" }}
                </span>
              </td>
              <td>
                <p-dropdown
                  [(ngModel)]="artistsWithSuggestion[rowIndex].suggestedCountry"
                  [filter]="true"
                  [options]="countries"
                  [showClear]="true"
                  [virtualScroll]="true"
                  [virtualScrollItemSize]="20"
                  filterBy="name"
                  optionLabel="name"
                  placeholder="Select a Country"
                  appendTo="body"
                >
                  <ng-template pTemplate="selectedItem">
                    <div *ngIf="artistsWithSuggestion[rowIndex].suggestedCountry">
                      <span
                        class="{{
                          'flag fi fi-' + artistsWithSuggestion[rowIndex].suggestedCountry?.flagCode
                        }}"
                      >
                      </span>
                      <span>
                        {{ artistsWithSuggestion[rowIndex].suggestedCountry?.name }}
                      </span>
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div>
                      <span class="{{ 'flag fi fi-' + country.flagCode }}"> </span>
                      <span>
                        {{ country.name }}
                      </span>
                    </div>
                  </ng-template></p-dropdown
                >
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Suggest by bulk" leftIcon="bx bx-group">
      <div *ngIf="selectedArtistsToBulkSuggest.length == 0" class="dropdown-lock-message">
        <i class="bx bx-error-circle"></i>
        <span>Mark the checkboxes of the artists you want to make a suggestion!</span>
      </div>

      <div class="bulk-suggest-wrapper">
        <p-dropdown
          (onChange)="onBulkSuggestDropdownChange($event)"
          [(ngModel)]="selectedCountryToBulkSuggest"
          [disabled]="selectedArtistsToBulkSuggest.length == 0"
          [filter]="true"
          [options]="countries"
          [showClear]="true"
          [virtualScroll]="true"
          [virtualScrollItemSize]="20"
          styleClass="suggestion-dropdown"
          filterBy="name"
          optionLabel="name"
          placeholder="Select a country suggestion"
          appendTo="body"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="selectedCountryToBulkSuggest">
              <span class="{{ 'flag fi fi-' + selectedCountryToBulkSuggest.flagCode }}"> </span>
              <span>
                {{ selectedCountryToBulkSuggest.name }}
              </span>
            </div>
          </ng-template>
          <ng-template let-selectedCountryToBulkSuggest pTemplate="item">
            <div>
              <span class="{{ 'flag fi fi-' + selectedCountryToBulkSuggest.flagCode }}"> </span>
              <span>
                {{ selectedCountryToBulkSuggest.name }}
              </span>
            </div>
          </ng-template></p-dropdown
        >
      </div>

      <p-table
        *ngIf="isMobile; else desktopBulkTableTemplate"
        [value]="artistsWithSuggestion"
        selectionMode="multiple"
        [(selection)]="selectedArtistsToBulkSuggest"
        [scrollable]="true"
        scrollHeight="30dvh"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Artist</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-artist let-rowIndex="rowIndex">
          <tr>
            <td>
              <p-tableCheckbox [value]="artist"></p-tableCheckbox>
            </td>
            <td>
              <div class="artist-data">
                <span class="artist-name">
                  {{ artist.name }}
                </span>
                <div>
                  <span
                    class="{{
                      'flag fi fi-' + (artist.country == null ? 'xx' : artist.country.flagCode)
                    }}"
                  >
                  </span>
                  <span>
                    {{ artist.country?.name || "Unknown" }}
                  </span>
                </div>
              </div>

              <div>
                <span>Country suggestion</span>
                <div>
                  <span
                    *ngIf="artist.suggestedCountry"
                    class="{{ 'flag fi fi-' + artist.suggestedCountry.flagCode }}"
                  >
                  </span>
                  <span>
                    {{ artist.suggestedCountry?.name || "To be suggested" }}
                  </span>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <ng-template #desktopBulkTableTemplate>
        <p-table
          [value]="artistsWithSuggestion"
          selectionMode="multiple"
          [(selection)]="selectedArtistsToBulkSuggest"
          [scrollable]="true"
          scrollHeight="30dvh"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>Name</th>
              <th>Country</th>
              <th>Suggested country</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-artist let-rowIndex="rowIndex">
            <tr>
              <td>
                <p-tableCheckbox [value]="artist"></p-tableCheckbox>
              </td>
              <td>{{ artist.name }}</td>
              <td>
                <span
                  class="{{
                    'flag fi fi-' + (artist.country == null ? 'xx' : artist.country.flagCode)
                  }}"
                >
                </span>
                <span>
                  {{ artist.country?.name || "Unknown" }}
                </span>
              </td>
              <td>
                <span
                  *ngIf="artist.suggestedCountry"
                  class="{{ 'flag fi fi-' + artist.suggestedCountry.flagCode }}"
                >
                </span>
                <span>
                  {{ artist.suggestedCountry?.name || "" }}
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
