:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6rem;
  padding: 6rem 2rem;
  width: 100%;
  background-color: #f79256;
}

h2 {
  font-size: var(--fs-600);
  font-weight: bold;
  margin: 0;
  color: #472d30;
  text-align: center;
}

.diversity-rank-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  width: 63%;

  h2 {
    text-align: start;
  }
}

.popularity-rank-wrapper {
  display: flex;
  align-items: end;
  gap: 1rem;
  flex-direction: column;
  width: 63%;

  h2 {
    text-align: end;
  }
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    flex-direction: column;
    gap: 4rem;
    padding: 6rem 1.5rem;
  }

  .diversity-rank-wrapper {
    align-items: center;

    h2 {
      font-size: var(--fs-200);
      text-align: center;
    }
  }

  .popularity-rank-wrapper {
    align-items: center;

    h2 {
      font-size: var(--fs-200);
      text-align: center;
    }
  }
}

@media (max-width: 640px) {
  :host {
    flex-direction: column;
    gap: 4rem;
    padding: 6rem 1rem;
  }

  .diversity-rank-wrapper {
    align-items: center;

    h2 {
      font-size: var(--fs-200);
      text-align: center;
    }
  }

  .popularity-rank-wrapper {
    align-items: center;

    h2 {
      font-size: var(--fs-200);
      text-align: center;
    }
  }
}
