:host {
  display: flex;
  flex-flow: column;
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 1rem;
  overflow-y: auto;
  height: 50vh;
}

::ng-deep {
  .suggestion-message-wrapper .p-message-warn {
    margin-top: 0;
  }
}

.suggestion-message-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.suggestion-message {
  display: flex;

  .suggestion-message-content {
    margin-top: 1rem;
  }

  .suggestion-message-close-btn {
    display: flex;
    align-items: center;
  }
}

.ranking-header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ranking-title-wrapper {
    margin-right: 2rem;

    @media (min-width: 768px) {
      text-wrap: nowrap;
    }

    .ranking-title {
      margin: 0;
    }

    .ranking-subtitle {
      color: grey;
    }
  }
}

.ranking-content {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 1rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.808);
    }
  }
}

table {
  border-collapse: separate;
  border-spacing: 0 0;

  .table-column {
    white-space: nowrap;
    padding: 0 2rem 1.5rem 0;
  }

  .table-row:last-child {
    .table-column {
      padding-bottom: 0;
    }
  }
}

.artist-index {
  padding: 0 1rem 1.5rem 0;
  text-align: center;
  font-size: var(--fs-000);
  font-weight: bold;
}

.artist-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.confirm-button-wrapper {
  display: flex;
  justify-content: space-between;
}

.artist-name {
  font-size: var(--fs-100);
  white-space: normal;
}

.country-flag {
  font-size: var(--fs-000);
  margin-top: 0.25rem;
}

.country-name {
  font-size: var(--fs-000);
  white-space: initial;
}

.spotify-logo {
  width: 2vw;
  min-width: 21px;
  min-height: 21px;
  margin-left: 16px;
}

.artist-link {
  display: flex;
  align-items: center;
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    padding: 1.5rem;
  }

  .artist-name {
    font-size: var(--fs-100);
  }

  .country-name {
    font-size: var(--fs-000);
  }
}

@media (max-width: 640px) {
  :host {
    padding: 1rem;
  }

  .title {
    font-size: var(--fs-200);
    text-align: center;
  }
}
