<div class="ranking-content">
  <table>
    <tbody>
      <tr class="table-row" *ngFor="let artist of artists; let i = index">
        <td class="table-column artist-index">
          {{ i + 1 }}
        </td>

        <td class="table-column artist-row">
          <div class="artist-data">
            <span class="artist-name">
              {{ artist.name }}
            </span>

            <div>
              <span
                class="{{
                  'country-flag fi fi-' + (artist.country == null ? 'xx' : artist.country.flagCode)
                }}"
              >
              </span>

              <span class="country-name">
                {{ artist.country?.name || "Unknown" }}
              </span>
            </div>
          </div>
          <a class="artist-link" [href]="artist.url" title="Listen to this artist on Spotify">
            <img src="../../../assets/spotify_logo.png" alt="Spotify logo" class="spotify-logo" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
