::ng-deep {
  .p-progressbar {
    border-radius: 16px;
  }
}

:host {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  overflow-y: auto;
  width: fit-content;
  color: black;
}

.ranking-title {
  margin: 0;
  font-size: var(--fs-200);
  padding-bottom: 1rem;
}

.ranking-subtitle {
  color: #585858;
  margin-top: 0;
  margin-bottom: 1rem;
}

.ranking-content {
  overflow-y: auto;
  max-height: 50dvh;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 1rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.808);
    }
  }

  table {
    border-collapse: separate;
    width: 100%;
    padding-right: 1rem;

    td {
      padding-right: 8px;
    }

    .table-header-column {
      color: #585858;
      font-size: var(--fs--100);
      padding-bottom: 1rem;
      text-align: left;

      &:last-child {
        text-align: right;
      }
    }

    .table-row {
      &:last-child {
        width: 0;
      }

      &:last-of-type {
        & .country-column,
        .artist-count-column {
          padding-bottom: 0;
        }
      }
    }

    .country-column {
      display: flex;
      white-space: nowrap;
      padding-bottom: 1rem;

      .flag {
        font-size: var(--fs-300);
        margin-right: 0.5rem;
      }

      .country {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

.country-name {
  white-space: initial;
  font-size: var(--fs-100);
  margin: 0;
}

.artist-count-column {
  text-align: right;
  vertical-align: bottom;
  padding: 1rem 0 1rem 0;
  font-size: var(--fs-100);
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;

  th {
    background-color: white;
  }
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    padding: 1.5rem;
  }
}

@media (max-width: 640px) {
  :host {
    padding: 1rem;
  }

  .ranking-title {
    font-size: var(--fs-100);
  }

  .country-name,
  .artist-count-column {
    font-size: var(--fs-000);
  }
}
