:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 2rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.title {
  font-size: var(--fs-600);
  font-weight: bold;
  margin: 0;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.robot-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  vertical-align: super;
  color: grey;
  line-height: 1.75;

  .robot-message-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .robot-message {
    font-size: var(--fs-000);
    margin: 0;
  }

  .robot-icon {
    font-size: 3rem;
  }
}

@media (min-width: 641px) and (max-width: 1280px) {
  section {
    flex-direction: column;
    gap: 2rem;
  }

  .title-wrapper {
    width: 100%;
  }

  .title {
    text-align: center;
    width: 75%;
    font-size: var(--fs-500);
  }

  .robot-wrapper {
    width: 50%;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  section {
    flex-direction: column;
    gap: 2rem;
  }

  .title-wrapper {
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: var(--fs-400);
  }

  .robot-wrapper {
    width: 100%;
    justify-content: center;
  }
}
