:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
}

.act-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .act-title {
    font-size: 3rem;
  }
}

.act-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.robot-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  vertical-align: super;

  .robot-message {
    margin: 0;
  }

  .robot-icon {
    font-size: 3rem;
  }
}
