<div class="end-part-wrapper">
  <div class="end-title">
    <h1>And we have come to the end of your journey</h1>
    <h2>
      May your travels continue, for there is new and exciting music waiting to be discovered in
      every corner of the world!
    </h2>
  </div>
  <div class="final-message">
    <p>
      Do you have a feature suggestion, want to report a bug that you encountered or just share your
      opinion?
    </p>
    <p>
      Please, leave a comment in the
      <a
        href="https://www.reddit.com/r/lastfm/comments/16asjsw/i_made_a_web_app_that_compares_how/"
        target="_blank"
      >
        Cartogrify reddit post.
      </a>
    </p>

    <p-button styleClass="logout-button" (onClick)="logout()" label="Log out"></p-button>

    <p class="author-info">
      Created by <a href="https://github.com/leo-holanda" target="_blank">Leo</a>
    </p>
  </div>
</div>
