<main>
  <section class="end-title">
    <h1>And we have come to the end of your journey</h1>

    <h2>
      May your travels continue, for there is new and exciting music waiting to be discovered in
      every corner of the world!
    </h2>

    <p class="author-info">
      Made with
      <img alt="love" src="https://icongr.am/octicons/heart-fill.svg?size=18&color=eec170" /> by
      <a href="https://github.com/leo-holanda" target="_blank">Leo</a>
    </p>

    <a href="https://ko-fi.com/leoholanda" target="_blank"
      ><i class="bx bxs-coffee"></i>Buy me a coffe</a
    >
  </section>

  <section class="final-message">
    <div class="question-and-answer">
      <strong
        >Do you have a feature suggestion, want to report a bug or just share your opinion?</strong
      >
      <p>Send a message to @carrilero4 at Discord!</p>
    </div>

    <div class="question-and-answer" *ngIf="artistSource == artistsSource.SPOTIFY">
      <strong>Do you want to disconnect your Spotify account from Cartogrify?</strong>
      <p>
        Click
        <a
          href="https://www.spotify.com/br-en/account/apps/"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >.
      </p>
    </div>

    <div class="question-and-answer" *ngIf="artistSource == artistsSource.SPOTIFY">
      <strong>Do you want to try with another account or just log out?</strong>
      <p-button label="small" size="small" (onClick)="logout()" label="Log out"></p-button>
    </div>

    <div class="question-and-answer">
      <strong>Are you a developer and want to know more about Cartogrify's development?</strong>
      <p>
        Check this
        <a
          href="https://dev.to/leoholanda/how-cartogrify-was-developed-the-idea-14a1"
          target="_blank"
          rel="noopener noreferrer"
          >post</a
        >
        I made at dev.to.
      </p>
    </div>
  </section>
</main>
