:host {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  background-color: #22577a;
  color: #eec170;
}

.end-part-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
  gap: 2rem;
}

h1 {
  font-weight: bold;
  font-size: var(--fs-600);
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: var(--fs-300);
  width: 60%;
}

p {
  text-align: center;
  margin: 0;
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    padding: 1.5rem;
  }

  h1 {
    font-size: var(--fs-500);
  }

  h2 {
    font-size: var(--fs-200);
  }
}

@media (max-width: 640px) {
  :host {
    padding: 1rem;
  }

  h1 {
    font-size: var(--fs-200);
  }

  h2 {
    font-size: var(--fs-100);
    width: 100%;
  }
}
