:host {
  padding: 0 2rem;
  background-color: #22577a;
  color: #eec170;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

h1 {
  font-weight: bold;
  font-size: var(--fs-600);
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: var(--fs-300);
  width: 60%;
}

p {
  text-align: center;
  margin: 0;
  font-size: var(--fs--100);
}

strong {
  text-align: center;
}

.author-info {
  margin: 32px;
  font-size: var(--fs-000);
}

.end-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  margin: auto;
  height: 90dvh;
}

.final-message {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px;
}

.question-and-answer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 8px;
  font-size: var(--fs--100);
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    padding: 1.5rem;
  }

  h1 {
    font-size: var(--fs-500);
  }

  h2 {
    font-size: var(--fs-200);
  }

  p {
    font-size: var(--fs--100);
  }

  .author-info {
    font-size: var(--fs--100);
  }
}

@media (max-width: 640px) {
  :host {
    padding: 1rem;
  }

  h1 {
    font-size: var(--fs-200);
  }

  h2 {
    font-size: var(--fs-100);
    width: 100%;
  }

  p {
    font-size: var(--fs--100);
  }

  .author-info {
    font-size: var(--fs--100);
  }
}
