<div class="end-part-wrapper">
  <h1>And we have come to the end of your journey!</h1>
  <h2>
    May your travels continue, for there is new and exciting music waiting to be discovered in every
    corner of the world.
  </h2>
  <div>
    <p>Do you have a feature suggestion or want to report a bug that you encountered?</p>
    <p>
      Please, leave a comment in the
      <a
        href="https://www.reddit.com/r/lastfm/comments/16asjsw/i_made_a_web_app_that_compares_how/"
        target="_blank"
      >
        Cartogrify reddit post.
      </a>
    </p>
  </div>

  <p class="author-info">Created by <a href="https://github.com/leo-holanda">Leo</a></p>
</div>
