<section>
  <div class="act-title-wrapper">
    <h2 class="act-pre-title">It's more than</h2>
    <h1 class="act-title">
      <span class="rating-item">
        {{ comparedDiversityData?.comparedDiversity || "..." }}
      </span>
    </h1>
    <h3 class="act-post-title">
      of <span class="count-value">{{ comparedDiversityData?.totalUsers }}</span> cartogrify users
      around the world!
    </h3>
  </div>
  <div #worldChartWrapper class="world-chart-wrapper"></div>

  <div
    *ngIf="user.countryCode != undefined; else userWithoutCountryTemplate"
    class="act-title-wrapper"
  >
    <h2 class="act-pre-title">And more than</h2>
    <h1 class="act-title">
      <span class="rating-item">
        {{ comparedDiversityDataInUserCountry?.comparedDiversity || "..." }}
      </span>
    </h1>
    <h3 class="act-post-title">
      of <span class="count-value"> {{ comparedDiversityDataInUserCountry?.totalUsers }} </span>
      cartogrify users in
      <span class="{{ 'flag fi fi-' + userCountry?.flagCode }}"></span> {{ userCountry?.name }}!
    </h3>
  </div>
  <div #countryChartWrapper class="country-chart-wrapper"></div>

  <ng-template #userWithoutCountryTemplate>
    <div class="act-title-wrapper">
      <h1 class="act-title">Your account doesn't have a country associated to it.</h1>
    </div>
    <div class="user-without-country-warning-wrapper">
      <h2>Generating a Country Traveller Rating and Chart is impossible.</h2>
    </div>
  </ng-template>
</section>
