:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem;
  gap: 6rem;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;

  .pre-title {
    margin: 0 0 0.5rem 0;
    font-size: 2.5rem;
  }

  .title {
    font-size: 4rem;
    margin: 0 0 0.5rem 0;
  }

  .post-title {
    margin: 0;
  }
}

.count-value {
  font-weight: bold;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-item {
  font-size: 4rem;
  font-weight: bold;
}

.user-without-country-warning-wrapper {
  display: flex;
  align-items: center;
}
