:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  padding: 2rem;
  width: 100%;
  background-color: #9fc088;
  min-height: 90dvh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 128px;
  height: 90%;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.pre-title {
  margin: 0;
  font-size: var(--fs-200);
  color: #364958;
}

.title {
  font-size: var(--fs-600);
  font-weight: bold;
  margin: 0;
  color: #364958;
}

.count-value {
  font-weight: bold;
  font-size: var(--fs-1000);
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.message-icon {
  color: #364958;
}

.artist-quantity-message {
  text-align: center;
  color: #364958;
}

.message-icon,
.artist-quantity-message {
  font-size: var(--fs-000);
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    flex-direction: column;
    gap: 48px;
    padding: 1.5rem;
  }

  .wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .message-icon,
  .artist-quantity-message {
    font-size: var(--fs--100);
  }

  .pre-title {
    text-align: center;
    font-size: var(--fs-200);
  }

  .title {
    text-align: center;
    font-size: var(--fs-500);
  }

  .count-value {
    font-weight: bold;
    font-size: var(--fs-600);
  }
}

@media (max-width: 640px) {
  :host {
    flex-direction: column;
    gap: 32px;
    padding: 1rem;
  }

  .wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .message-icon,
  .artist-quantity-message {
    font-size: var(--fs--100);
  }

  .pre-title {
    text-align: center;
    font-size: var(--fs-100);
  }

  .title {
    text-align: center;
    font-size: var(--fs-200);
  }

  .count-value {
    font-weight: bold;
    font-size: var(--fs-300);
  }
}
