:host {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;
  width: 100%;
  background-color: #9fc088;
  min-height: 90dvh;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.pre-title {
  margin: 0;
  font-size: var(--fs-200);
  color: #364958;
}

.title {
  font-size: var(--fs-600);
  font-weight: bold;
  margin: 0;
  color: #364958;
}

.count-value {
  font-weight: bold;
  font-size: var(--fs-1000);
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    flex-direction: column;
    gap: 2rem;
  }

  .pre-title {
    text-align: center;
    font-size: var(--fs-200);
  }

  .title {
    text-align: center;
    font-size: var(--fs-500);
  }

  .count-value {
    font-weight: bold;
    font-size: var(--fs-600);
  }
}

@media (max-width: 640px) {
  :host {
    flex-direction: column;
    gap: 1rem;
  }

  .pre-title {
    text-align: center;
    font-size: var(--fs-100);
  }

  .title {
    text-align: center;
    font-size: var(--fs-200);
  }

  .count-value {
    font-weight: bold;
    font-size: var(--fs-300);
  }
}
