:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  padding: 2rem;
}

.act-title-wrapper {
  display: flex;
  align-items: center;

  .act-title {
    margin: 0 0 1rem 0;
    width: 50%;
  }
}

.act-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2/1;
}
