<p-dialog
  header="Choose the content you want to share"
  [(visible)]="shareMode"
  [style]="{ width: '35rem' }"
  [modal]="true"
>
  <div class="download-options">
    <p-card header="Map">
      <div class="share-map-buttons">
        <p-button (onClick)="shareMap()" label="Download map"></p-button>
        <div>
          <p-toggleButton
            (onChange)="onChangeDefaultResolutionStatus()"
            [onLabel]="'Use default resolution'"
            offLabel="Change image resolution"
          ></p-toggleButton>
        </div>
      </div>

      <div class="share-map-resolutions-wrapper" *ngIf="!usesDefaultMapResolution">
        <span>Available resolutions</span>
        <span>16:9</span>
        <div class="share-map-resolutions">
          <p-radioButton
            name="share-map-resolution"
            [value]="availableMapResolutions[0]"
            [(ngModel)]="shareMapResolution"
            inputId="1080p"
          ></p-radioButton>
          <label for="1080p"> <p-tag value="1920x1080"></p-tag></label>
        </div>

        <div class="share-map-resolutions">
          <p-radioButton
            name="share-map-resolution"
            [value]="availableMapResolutions[1]"
            [(ngModel)]="shareMapResolution"
            inputId="1440px"
          ></p-radioButton>
          <label for="1440px"> <p-tag value="2560x1440"></p-tag></label>
        </div>

        <div class="share-map-resolutions">
          <p-radioButton
            name="share-map-resolution"
            [value]="availableMapResolutions[2]"
            [(ngModel)]="shareMapResolution"
            inputId="2160p"
          ></p-radioButton>
          <label for="2160p"> <p-tag value="3840x2160"></p-tag></label>
        </div>

        <span>1:1</span>
        <div class="share-map-resolutions">
          <p-radioButton
            name="share-map-resolution"
            [value]="availableMapResolutions[3]"
            [(ngModel)]="shareMapResolution"
            inputId="2160p"
          ></p-radioButton>
          <label for="2160p"> <p-tag value="1080x1080"></p-tag></label>
        </div>
      </div>
    </p-card>

    <p-card header="Rankings">
      <div class="share-map-buttons">
        <p-button (onClick)="shareRanking()" label="Download ranking"></p-button>
        <div>
          <p-toggleButton
            (onChange)="onChangeDefaultSizeStatus()"
            [onLabel]="'Use default size'"
            offLabel="Change image size"
          ></p-toggleButton>
        </div>
      </div>

      <div class="share-map-resolutions-wrapper" *ngIf="!usesDefaultRankingSize">
        <span>Available sizes</span>
        <div class="share-map-resolutions">
          <p-radioButton
            name="share-map-resolution"
            [value]="availableRankingSizes[0]"
            [(ngModel)]="shareRankingSize"
            inputId="1080p"
          ></p-radioButton>
          <label for="1080p"> <p-tag value="1x"></p-tag></label>
        </div>

        <div class="share-map-resolutions">
          <p-radioButton
            name="share-map-resolution"
            [value]="availableRankingSizes[1]"
            [(ngModel)]="shareRankingSize"
            inputId="1440px"
          ></p-radioButton>
          <label for="1440px"> <p-tag value="2x"></p-tag></label>
        </div>

        <div class="share-map-resolutions">
          <p-radioButton
            name="share-map-resolution"
            [value]="availableRankingSizes[2]"
            [(ngModel)]="shareRankingSize"
            inputId="2160p"
          ></p-radioButton>
          <label for="2160p"> <p-tag value="3x"></p-tag></label>
        </div>

        <div class="share-map-resolutions">
          <p-radioButton
            name="share-map-resolution"
            [value]="availableRankingSizes[3]"
            [(ngModel)]="shareRankingSize"
            inputId="2160p"
          ></p-radioButton>
          <label for="2160p"> <p-tag value="4x"></p-tag></label>
        </div>

        <div class="share-map-resolutions">
          <p-radioButton
            name="share-map-resolution"
            [value]="availableRankingSizes[4]"
            [(ngModel)]="shareRankingSize"
            inputId="2160p"
          ></p-radioButton>
          <label for="2160p"> <p-tag value="5x"></p-tag></label>
        </div>
      </div>
    </p-card>
  </div>
</p-dialog>
<div #mapWrapper class="map-wrapper" [style]="{ background: mapBackgroundColor }">
  <div [ngStyle]="{ visibility: shareMode ? 'collapse' : 'visible' }" class="map-buttons">
    <p-button
      (onClick)="op.toggle($event)"
      [label]="isMobile ? 'Customize' : 'Customize map'"
      icon="pi pi-palette"
      [styleClass]="isMobile ? 'p-button-rounded' : undefined"
    ></p-button>
    <p-button
      *ngIf="isMobile"
      (onClick)="sendOpenRankingsEvent()"
      icon="pi pi-sort-amount-up"
      class="sidebar-button"
      [label]="isMobile ? 'Rankings' : 'See your rankings'"
      [styleClass]="isMobile ? 'p-button-rounded' : undefined"
    ></p-button>
    <p-button
      (onClick)="onShareButtonClick()"
      [label]="isMobile ? 'Share' : 'Share with your friends'"
      icon="pi pi-share-alt"
      [styleClass]="isMobile ? 'p-button-rounded' : undefined"
    ></p-button>
    <p-overlayPanel #op>
      <div class="color-theme-selector">
        <label class="map-color-palette" for="map-color-palette">
          <div>Color Palette</div>
          <div style="color: grey">Provided by ArcGIS Maps SDK</div>
        </label>
        <p-listbox
          [options]="colorPalettes"
          optionLabel="name"
          [listStyle]="{ 'max-height': '250px' }"
          (onClick)="onColorPaletteSelect($event)"
        >
          <ng-template let-palette pTemplate="item">
            <div>
              <div>{{ palette.title }}</div>
              <div class="palette-colors-array">
                <div
                  *ngFor="let color of palette.colors"
                  style="width: 1rem; height: 1rem"
                  [ngStyle]="{ background: color }"
                ></div>
              </div>
            </div> </ng-template
        ></p-listbox>
        <div class="map-background-input-wrapper">
          <label for="background">Background Color</label>
          <div class="map-background-input">
            <p-radioButton
              name="dark-background"
              value="rgb(50, 50, 50)"
              [(ngModel)]="mapBackgroundColor"
              inputId="dark-background"
            ></p-radioButton>
            <label for="dark-background">Dark</label>
          </div>
          <div class="map-background-input">
            <p-radioButton
              name="light-background"
              value="rgb(255, 255, 255)"
              [(ngModel)]="mapBackgroundColor"
              inputId="light-background"
            ></p-radioButton>
            <label for="light-background">Light</label>
          </div>
          <div class="map-background-input">
            <p-radioButton
              name="blue-background"
              value="rgb(156, 192, 249)"
              [(ngModel)]="mapBackgroundColor"
              inputId="blue-background"
            ></p-radioButton>
            <label for="blue-background">Light blue</label>
          </div>
          <div class="map-background-input">
            <p-radioButton
              name="light-brown-background"
              value="rgb(229, 220, 203)"
              [(ngModel)]="mapBackgroundColor"
              inputId="light-brown-background"
            ></p-radioButton>
            <label for="light-brown-background">Light brown</label>
          </div>
          <div class="map-background-input">
            <p-radioButton
              name="dark-brown-background"
              value="rgb(214, 187, 140)"
              [(ngModel)]="mapBackgroundColor"
              inputId="dark-brown-background"
            ></p-radioButton>
            <label for="dark-brown-background">Dark brown</label>
          </div>
        </div>
      </div>
    </p-overlayPanel>
  </div>
</div>
