<p-dialog header="Make your suggestions" [(visible)]="shouldOpenDialog" [modal]="true">
  <ctg-suggestions
    [shouldMakeSuggestions$]="shouldMakeSuggestions$"
    (shouldCloseDialog)="onShouldCloseDialog()"
  ></ctg-suggestions>

  <ng-template pTemplate="footer">
    <div class="confirm-button-wrapper">
      <p-button
        (onClick)="onCancelButtonClick()"
        label="Cancel"
        icon="bx bx-x"
        styleClass="p-button-outlined"
      ></p-button>
      <p-button
        (onClick)="onSuggestButtonClick()"
        label="Suggest"
        icon="bx bx-check"
        styleClass="p-button-success"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<div class="ranking-wrapper">
  <p-messages *ngIf="isMessageActive" class="suggestion-message-wrapper" severity="warn">
    <ng-template pTemplate>
      <div>
        <span class="bx bx-error suggestion-message-icon"></span>
      </div>
      <div class="suggestion-message">
        <div>
          <i>"Why is it saying that Taylor Swift was born in North Korea?"</i>
          <div class="suggestion-message-content">
            Sometimes, the little robot that guesses the artist's country of origin might be way off
            the target. He's trying his best. You can help him by suggesting the correct country of
            origin for your favourite artists!
          </div>
        </div>
        <div class="suggestion-message-close-btn">
          <p-button
            (onClick)="hideMessage()"
            styleClass="p-ripple p-element p-message-close p-link"
            icon="bx bx-x"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </p-messages>

  <div class="ranking-header">
    <div class="ranking-title-wrapper">
      <h2 class="ranking-title">Ranking</h2>
      <span class="ranking-subtitle">by most played artists</span>
    </div>
    <p-button (onClick)="openDialog()" label="Suggest correct countries"></p-button>
  </div>

  <div class="ranking-content">
    <table>
      <tbody>
        <tr class="table-row" *ngFor="let artist of artists; let i = index">
          <td class="table-column artist-index">
            {{ i + 1 }}
          </td>

          <td class="table-column">
            <div class="artist-data">
              <span class="artist-name">
                {{ artist.name }}
              </span>

              <div>
                <span
                  class="{{
                    'country-flag fi fi-' +
                      (artist.country == null ? 'xx' : artist.country.flagCode)
                  }}"
                >
                </span>

                <span class="country-name">
                  {{ artist.country?.name || "Unknown" }}
                </span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
