@import "../../../shared/variables.scss";

:host {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}

main {
  height: 100%;
  background: $background;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
  padding: 3rem;
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
  background-color: #dde5b6;
  color: black;
}

.footer-links {
  display: flex;
}

.footer-link {
  cursor: pointer;
  padding: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-bottom: 3rem;
  color: black;
  text-align: center;

  @media (min-width: 768px) {
    width: 50%;
  }

  & h1 {
    font-family: "Quicksand", cursive;
    font-weight: normal;
    font-size: clamp(2.5rem, 4vw, 8rem);
    margin: 0;
  }

  & h3 {
    margin-top: 0;
    font-size: clamp(0.65rem, 2vw, 4rem);
  }
}

button {
  cursor: pointer;
  font-family: "Quicksand", cursive;

  border: none;
}

.hint {
  text-align: center;
  color: black;
  font-size: clamp(0.8rem, 2vw, 4rem);
}

.options-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  .option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    padding: 2rem 4rem;
    font-size: 2rem;
    transition: 0.2s;
    border-radius: 999px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .option-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 1rem;
    flex: 1;
  }
}

.spotify-option {
  background: $spotify-color;

  &:hover {
    background-color: #199c47;
  }
}

.lastfm-option {
  background: $lastfm-color;

  &:hover {
    background-color: #970000;
  }
}

.username-input {
  width: 100%;
}

.username-input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.pi-spinner {
  font-size: 2rem;
  margin-right: 0.5rem;
}
