@import "../../../shared/variables.scss";

:host {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}

main {
  height: 100%;
  background: $background;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
  padding: 2rem;
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #dde5b6;
  color: black;
}

.footer-links {
  display: flex;
}

.footer-link {
  cursor: pointer;
  padding: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-bottom: 3rem;
  color: black;
  text-align: center;
  width: 60%;

  & h1 {
    font-family: "Quicksand", cursive;
    font-weight: normal;
    font-size: var(--fs-700);
    margin: 0;
  }

  & h3 {
    margin-top: 0;
    font-size: var(--fs-400);
  }
}

button {
  cursor: pointer;
  font-family: "Quicksand", cursive;

  border: none;
}

.options-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.option-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  padding: 2rem 4rem;
  font-size: var(--fs-300);
  transition: 0.2s;
  border-radius: 999px;
}

.option-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: 1rem;
  flex: 1;
}

.spotify-option {
  background: $spotify-color;

  &:hover {
    background-color: #199c47;
  }
}

.lastfm-option {
  background: $lastfm-color;

  &:hover {
    background-color: #970000;
  }
}

.username-input {
  width: 100%;
}

.username-input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.pi-spinner {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.spotify-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotify-tester-message {
  font-size: var(--fs--100);
  color: black;
}

@media (min-width: 641px) and (max-width: 1280px) {
  .options-wrapper {
    grid-template-columns: 1fr;
  }

  .title-wrapper h1 {
    font-size: var(--fs-600);
  }

  .message {
    width: 75%;
  }

  main {
    padding: 1.5rem;
  }

  .option-button {
    padding: 1.5rem 3rem;
    font-size: var(--fs-200);
  }
}

@media (max-width: 640px) {
  .options-wrapper {
    grid-template-columns: 1fr;
  }

  .title-wrapper h1 {
    font-size: var(--fs-500);
  }

  .message {
    width: 100%;
  }

  main {
    padding: 1rem;
  }

  .option-button {
    padding: 1rem 2rem;
    font-size: var(--fs-200);
  }

  .title-wrapper {
    width: 100%;
  }
}
