<p-toast></p-toast>

<p-sidebar [(visible)]="isSidebarVisible">
  <ng-template pTemplate="header">
    <h1>Privacy Policy</h1>
  </ng-template>
  <p>
    Thank you for using Cartogrify, developed by Leonardo Holanda. I am committed to protecting your
    privacy and ensuring the security of your personal information. This Privacy Policy explains how
    I collect, use, and share your information when you interact with the app.
  </p>
  <p>
    By using the app, you agree to the terms and conditions of this Privacy Policy. If you do not
    agree with these terms, please do not use the app.
  </p>

  <div>
    <h2>1. Information Collection and Use</h2>
    <p>
      We collect and store limited information about you when you use Cartogrify. Specifically, we
      collect:
    </p>

    <h3>Spotify Account ID</h3>
    <p>
      When your Country Diversity Index (how many different countries your top artists come from) is
      computed, it is necessary to make sure that it is associated to you. So, when you login, it
      updates instead of creating a new one. That's why your Spotify Account ID is collected. It's
      stored in a Supabase database and it isn't share with anyone.
    </p>

    <h3>Country Associated with Spotify Account</h3>
    <p>
      Cartogrify compares your Country Diversity Index with other users from your country. For that
      reason, I need to collect your country data. It's stored in a Supabase database and it isn't
      share with anyone.
    </p>
  </div>

  <div>
    <h2>2. Cookies</h2>
    <p>No cookies are used.</p>
  </div>

  <div>
    <h2>3. End User License Agreement</h2>

    <p>
      By using Cartogrify, you agree to my End User License Agreement, which includes additional
      terms and conditions governing your use of the app.
    </p>

    <h3>3.1. Acceptance of Terms</h3>
    <p>
      By using Cartogrify, you acknowledge that you have read, understood, and agreed to the terms
      and conditions of this Privacy Policy.
    </p>
  </div>

  <div>
    <h2>4. How to disconnecy my Spotify account from Cartogrify?</h2>
    <p>
      To disconnect your Spotify account from this tool, go to the "Manage Apps" page
      <a
        href="https://www.spotify.com/br-en/account/apps/"
        target="_blank"
        rel="noopener noreferrer"
        >(here)</a
      >
      in your Spotify Account and then click the Remove Access button for “Cartogrify”.
    </p>
  </div>

  <div>
    <h2>5. Contact me</h2>
    <p>
      If you have any questions or concerns about this Privacy Policy or your data, please
      <a href="mailto: leo.uldholanda@gmail.com">contact me.</a>
    </p>
  </div>
</p-sidebar>

<main>
  <section class="title-wrapper">
    <h1>Explore the origins of the music you love</h1>
  </section>
  <section>
    <div class="options-wrapper">
      <div class="spotify-button-wrapper">
        <button
          pButton
          [disabled]="hasInitiatedLogin"
          (click)="onSpotifyButtonClick()"
          class="option-button spotify-option"
        >
          <i *ngIf="hasInitiatedLogin" class="bx bx-loader-alt bx-spin"></i>
          Log in with Spotify
        </button>
        <p class="spotify-tester-message">In progress. Only for testers now.</p>
      </div>
      <div>
        <div>
          <button
            pButton
            [disabled]="hasInitiatedLogin"
            (click)="onLastfmButtonClick()"
            class="option-button lastfm-option"
          >
            Enter your Last.fm username
          </button>
        </div>

        <p-dialog
          header="Enter your Last.fm username"
          [(visible)]="hasClickedLastFmButton"
          [breakpoints]="{ '768px': '87vw' }"
          [style]="{ width: '35rem' }"
          [modal]="true"
          (onHide)="onLastfmUsernameDialogHide()"
        >
          <input
            type="text"
            pInputText
            id="username"
            name="username"
            placeholder="myusername"
            class="username-input"
            [(ngModel)]="lastFmUsername"
          />
          <button
            pButton
            pRipple
            [disabled]="lastFmUsername.length == 0"
            (click)="onLastfmStartButtonClick()"
            class="username-input-button p-button-lg"
          >
            <i *ngIf="hasClickedLastFmStartButton" class="bx bx-loader-alt bx-spin"></i>
            Start
          </button>
        </p-dialog>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="message">
    <p>
      Hi everyone! I have noticed the "Michael Jackson is from India" kind of problems. There's a
      fix to this coming soon. Thanks for letting me know about this issue and for using Cartogrify!
      Your feedback has been really important!
    </p>
  </div>
  <div class="footer-links">
    <a class="footer-link" (click)="isSidebarVisible = true">Privacy Policy</a>
  </div>
</footer>
