<p-toast></p-toast>
<main>
  <section class="title-wrapper">
    <h1>MusicMap</h1>
    <h3>Explore the worldwide origins of your music taste</h3>
  </section>
  <section>
    <h2 class="hint">Which streaming service do you use?</h2>
    <div class="options-wrapper">
      <div>
        <button
          pButton
          [disabled]="hasClickedLastFmButton"
          (click)="onSpotifyButtonClick()"
          class="option-button spotify-option"
        >
          <i *ngIf="hasClickedSpotifyButton" class="pi pi-spin pi-spinner"></i>
          Spotify
        </button>
      </div>
      <div>
        <div>
          <button
            pButton
            [disabled]="hasClickedSpotifyButton"
            (click)="onLastfmButtonClick()"
            class="option-button lastfm-option"
          >
            <i *ngIf="hasClickedLastFmButton" class="pi pi-spin pi-spinner"></i>
            Last.fm
          </button>
        </div>

        <p-dialog
          header="Enter your Last.fm username"
          [(visible)]="hasClickedLastFmButton"
          [style]="{ width: '75%' }"
          [modal]="true"
        >
          <input
            type="text"
            pInputText
            id="username"
            name="username"
            placeholder="myusername"
            class="username-input"
            [(ngModel)]="lastFmUsername"
            [disabled]="hasClickedSpotifyButton || hasClickedLastFmStartButton"
          />
          <button
            pButton
            pRipple
            [disabled]="lastFmUsername.length == 0"
            (click)="onLastfmStartButtonClick()"
            class="username-input-button p-button-lg"
          >
            <i *ngIf="hasClickedLastFmStartButton" class="pi pi-spin pi-spinner"></i>
            Start
          </button>
        </p-dialog>
      </div>
    </div>
  </section>
</main>
