@import "../../../shared/variables.scss";

main {
  height: 100vh;
  background: $background;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-bottom: 3rem;
  color: black;

  & h1 {
    font-family: "Lilita One", cursive;
    font-weight: normal;
    font-size: clamp(3.75rem, 12vw, 20rem);
    margin: 0;
  }

  & h3 {
    margin-top: 0;
    font-size: clamp(0.65rem, 2vw, 4rem);
  }
}

.logo {
  width: 10rem;
  margin: 1.5rem 1.5rem 2rem 1.5rem;
}

button {
  cursor: pointer;
  border: none;
}

.hint {
  text-align: center;
  color: black;
  font-size: clamp(0.8rem, 2vw, 4rem);
}

.options-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  & .option {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
}

.spotify-option {
  background: $spotify-color;
  border-radius: $border-radius;

  .spotify-login-button {
    background-color: white;
    & button {
      font: black;
      background-color: white;
    }
  }
}

.lastfm-option {
  background: $lastfm-color;
  border-radius: $border-radius;

  .lastfm-input-label {
    color: white;
    font-size: large;
    font-weight: bold;
  }

  .username-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;

    & input {
      border-radius: 0.5rem 0 0 0.5rem;
      appearance: none;
      border: none;
      background-color: white;
      color: black;

      &::placeholder {
        color: grey;
      }
    }

    .username-input-button {
      padding: 1rem;
      border-radius: 0 0.5rem 0.5rem 0;
      background-color: white;
      border-left: 2px solid #e92c14;
    }
  }
}
