<p-toast></p-toast>
<main>
  <section class="title-wrapper">
    <h1>MusicMap</h1>
    <h3>Explore the worldwide origins of your music taste</h3>
  </section>
  <section>
    <h2 class="hint">Choose one of the options to start</h2>
    <div class="options-wrapper">
      <div class="option spotify-option">
        <img class="logo" src="assets/images/spotify_logo.svg" alt="Spotify logo" />
        <button
          pButton
          pRipple
          [loading]="hasClickedSpotifyButton"
          [disabled]="hasClickedLastFmButton"
          (click)="onSpotifyButtonClick()"
          label="Connect your Spotify account"
          class="spotify-login-button"
        ></button>
      </div>
      <div class="option lastfm-option">
        <img class="logo" src="assets/images/lastfm_logo.svg" alt="Last.fm logo" />
        <div>
          <label class="lastfm-input-label" for="username">Enter your Last.fm username</label>
          <div class="username-input">
            <input
              type="text"
              pInputText
              id="username"
              name="username"
              placeholder="myusername"
              [(ngModel)]="lastFmUsername"
              [disabled]="hasClickedSpotifyButton || hasClickedLastFmButton"
            />
            <button
              pButton
              pRipple
              [loading]="hasClickedLastFmButton"
              [disabled]="hasClickedSpotifyButton || lastFmUsername.length == 0"
              (click)="onLastfmButtonClick()"
              label="Start"
              class="username-input-button"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
