:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.map-messages {
  position: absolute;
  z-index: 9999;
  margin: 0rem 1rem;
}

.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem;
  aspect-ratio: 16/9;
}

.map-buttons {
  display: flex;
  margin-bottom: 1rem;
}

.palette-colors-array {
  display: flex;
}

::ng-deep {
  .color-theme-selector {
    display: flex;
    flex-direction: column;
  }

  .map-color-palette {
    margin-bottom: 0.5rem;
  }

  .map-background-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .map-background-input {
    margin: 0.5rem 0;

    &:last-child {
      margin: 0.5rem 0 0 0;
    }

    label {
      margin-left: 0.5rem;
    }
  }

  .map-buttons {
    & p-button {
      margin-right: 1rem;
    }
  }
}

.map-title {
  position: absolute;
  top: 16px;
}

.logo {
  position: absolute;
  bottom: 16px;
}

::ng-deep {
  .download-options {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 0.5rem;

    & p-button {
      flex: 1;

      & button {
        width: 100%;
      }
    }

    & .p-card-content {
      padding-bottom: 0;
    }
  }

  .share-map-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .share-map-resolutions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1rem;
  }

  .share-map-resolutions {
    display: flex;
    gap: 0.5rem;
  }
}

.zoom-message {
  color: grey;
  margin: 0 0 1rem 0;
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    padding: 1.5rem;
  }
}

@media (max-width: 640px) {
  :host {
    padding: 1rem;
  }

  .map-buttons {
    justify-content: center;
  }
}
