:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.map-messages {
  position: absolute;
  z-index: 9999;
  margin: 0rem 1rem;
}

.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem;

  .map-buttons {
    display: flex;
    position: absolute;
    bottom: 16px;
    right: 16px;

    & p-button:first-of-type {
      margin-right: 1rem;
    }

    @media (max-width: 768px) {
      top: unset;
      right: 16px;
      bottom: 48px;
      flex-direction: column;
      align-items: end;
      gap: 0;

      & p-button:nth-child(1),
      p-button:nth-child(2) {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}

.palette-colors-array {
  display: flex;
}

::ng-deep {
  .color-theme-selector {
    display: flex;
    flex-direction: column;
  }

  .map-color-palette {
    margin-bottom: 0.5rem;
  }

  .map-background-input-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .map-background-input {
    margin: 0.5rem 0;

    &:last-child {
      margin: 0.5rem 0 0 0;
    }

    label {
      margin-left: 0.5rem;
    }
  }
}

.map-title {
  position: absolute;
  top: 16px;
}

.logo {
  position: absolute;
  bottom: 16px;
}

::ng-deep {
  .download-options {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    & p-button {
      flex: 1;

      & button {
        width: 100%;
      }
    }

    & .p-card-content {
      padding-bottom: 0;
    }
  }

  .share-map-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .share-map-resolutions-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1rem;
  }

  .share-map-resolutions {
    display: flex;
    gap: 0.5rem;
  }
}

.zoom-message {
  color: grey;
}
