@import "~normalize.css";
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import "primeng/resources/themes/md-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";
/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100dvh;
}

.bx {
  font-size: 1.3rem;
}

.bx-loader-alt {
  margin-right: 0.5rem;
}
