<ng-template [ngIf]="userArtistsSource == artistsSource.LASTFM" [ngIfElse]="spotifySourceTemplate">
  <h3>That's more than</h3>
  <h2>
    {{ (comparedRegionDiversity | async)?.comparedDiversity }}
  </h2>
  <h3>of {{ (comparedRegionDiversity | async)?.totalUsers }} cartogrify users around the world!</h3>

  <div *ngIf="userCountry.NE_ID != -1; else userWithoutCountryTemplate" class="title-wrapper">
    <h2 class="pre-title">And more than</h2>

    <h1 class="title">
      <span class="rating-item">
        {{ (comparedRegionDiversityInUserCountry | async)?.comparedDiversity || "..." }}
      </span>
    </h1>

    <h3 class="post-title">
      of
      <span class="count-value">
        {{ (comparedRegionDiversityInUserCountry | async)?.totalUsers }}
      </span>
      cartogrify users in
      <span class="{{ 'flag fi fi-' + userCountry.flagCode }}"></span> {{ userCountry.name }}!
    </h3>
  </div>

  <ng-template #userWithoutCountryTemplate>
    <div class="empty-country-title-wrapper">
      <h2 class="empty-country-message">
        Associate your account with a country to allow the comparison with users in your country.
      </h2>
    </div>
  </ng-template>
</ng-template>

<ng-template #spotifySourceTemplate>
  <h2 class="spotify-policy-message">
    User metrics are not available for Spotify accounts due to Developer Policy terms.
  </h2>
</ng-template>
