:host {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  background-color: #f6f1e1;
  color: #723d46;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80dvh;
  gap: 2rem;
}

h1 {
  font-weight: bold;
  font-size: var(--fs-600);
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: var(--fs-300);
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.arrow {
  font-size: var(--fs-600);
  text-align: center;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@media (min-width: 641px) and (max-width: 1280px) {
  :host {
    padding: 1.5rem;
  }

  h1 {
    font-size: var(--fs-500);
  }

  h2 {
    font-size: var(--fs-200);
  }
}

@media (max-width: 640px) {
  :host {
    padding: 1rem;
  }

  h1 {
    font-size: var(--fs-200);
  }

  h2 {
    font-size: var(--fs-100);
  }

  .arrow {
    font-size: var(--fs-500);
  }
}
