<p-sidebar
  *ngIf="isMobile; else desktopTemplate"
  [(visible)]="shouldOpenRankings"
  position="bottom"
  (onHide)="hideRankings()"
>
  <ng-template style="background-color: #121212; padding: 0 1rem" pTemplate="header">
    <h1>Results</h1>
  </ng-template>
  <ng-template style="background-color: #121212; padding: 0" pTemplate="content">
    <div style="padding: 0 1rem" class="data-wrapper">
      <p-tabMenu
        class="tab-menu"
        [model]="items"
        [activeItem]="items[0]"
        (activeItemChange)="onActiveItemChange($event)"
      ></p-tabMenu>
      <div class="data countries-data" *ngIf="activeItem == DataTypes.COUNTRIES">
        <div class="countries-data-title">
          <h2 class="data-title">Ranking</h2>
          <span class="data-subtitle">by artists per country</span>
        </div>
        <div class="data-content-wrapper artist-content">
          <table class="country-table">
            <thead>
              <th>Country</th>
              <th>Artists</th>
            </thead>
            <tbody>
              <tr *ngFor="let countryData of countriesData; let i = index">
                <td class="country-column">
                  <div>
                    <span class="{{ 'flag fi fi-' + countryData.country.flagCode }}"></span>
                  </div>
                  <div class="country-column-data">
                    <span>{{ countryData.country.name }}</span>
                    <p-progressBar
                      [value]="(countryData.count / artists.length) * 100"
                    ></p-progressBar>
                  </div>
                </td>
                <td class="count-column">
                  {{ countryData.count }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="data" *ngIf="activeItem == DataTypes.REGIONS">
        <div class="data-title-wrapper">
          <h2 class="data-title">Ranking</h2>
          <span class="data-subtitle">by artists per region</span>
        </div>
        <div class="data-content-wrapper region-data-wrapper">
          <div *ngFor="let region of regionsData">
            <div class="geo-data">
              <span>{{ region.name }}</span>
              <span>{{ region.count }}</span>
            </div>
            <div *ngFor="let intermediateRegion of region.intermediateRegions">
              <div class="geo-data sub-region-data">
                <span>{{ intermediateRegion.name + " (" + intermediateRegion.count + ")" }}</span>
              </div>
              <div
                class="geo-data intermediate-region-data"
                *ngFor="let subRegion of intermediateRegion.subRegions"
              >
                <span>{{ subRegion.name + " (" + subRegion.count + ")" }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="data" *ngIf="activeItem == DataTypes.ARTISTS">
        <div *ngIf="isMessageActive">
          <p-messages class="suggestion-message-wrapper" severity="warn">
            <ng-template pTemplate>
              <div>
                <span class="pi pi-exclamation-triangle suggestion-message-icon"></span>
              </div>
              <div class="suggestion-message">
                <div>
                  <i>"Why is it saying that Taylor Swift was born in North Korea?"</i>
                  <div class="suggestion-message-content">
                    Sometimes, the little robot that guesses the artist's country of origin might be
                    way off the target. He's trying his best. You can help him by suggesting the
                    correct country of origin for your favourite artists!
                  </div>
                </div>
                <div class="suggestion-message-close-btn">
                  <p-button
                    (onClick)="hideMessage()"
                    styleClass="p-ripple p-element p-message-close p-link"
                    icon="pi pi-times"
                  ></p-button>
                </div>
              </div>
            </ng-template>
          </p-messages>
        </div>
        <div class="data-title-wrapper artist-data-title">
          <div>
            <h2 class="data-title">Ranking</h2>
            <span class="data-subtitle">by most played artists</span>
          </div>
          <p-button (onClick)="openDialog()" label="Suggest correct countries"></p-button>
        </div>
        <div class="data-content-wrapper">
          <table class="artist-table">
            <tbody>
              <tr *ngFor="let artist of artists; let i = index">
                <td class="data-index">
                  {{ i + 1 }}
                </td>
                <td>
                  <div class="artist-data">
                    <span class="artist-name">
                      {{ artist.name }}
                    </span>
                    <div>
                      <span
                        class="{{
                          'flag fi fi-' + (artist.country == null ? 'xx' : artist.country.flagCode)
                        }}"
                      >
                      </span>
                      <span class="country-name">
                        {{ artist.country?.name || "Unknown" }}
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>

<ng-template #desktopTemplate>
  <div class="data-wrapper">
    <div>
      <h1>Results</h1>
    </div>
    <p-tabMenu
      class="tab-menu"
      [model]="items"
      [activeItem]="items[0]"
      (activeItemChange)="onActiveItemChange($event)"
    ></p-tabMenu>
    <div class="data countries-data" *ngIf="activeItem == DataTypes.COUNTRIES">
      <div class="countries-data-title">
        <h2 class="data-title">Ranking</h2>
        <span class="data-subtitle">by artists per country</span>
      </div>
      <div class="data-content-wrapper artist-content">
        <table class="country-table">
          <thead>
            <th>Country</th>
            <th>Artists</th>
          </thead>
          <tbody>
            <tr *ngFor="let countryData of countriesData; let i = index">
              <td class="country-column">
                <div>
                  <span class="{{ 'flag fi fi-' + countryData.country.flagCode }}"></span>
                </div>
                <div class="country-column-data">
                  <span>{{ countryData.country.name }}</span>
                  <p-progressBar
                    [value]="(countryData.count / artists.length) * 100"
                  ></p-progressBar>
                </div>
              </td>
              <td class="count-column">
                {{ countryData.count }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="data" *ngIf="activeItem == DataTypes.REGIONS">
      <div class="data-title-wrapper">
        <h2 class="data-title">Ranking</h2>
        <span class="data-subtitle">by artists per region</span>
      </div>
      <div class="data-content-wrapper region-data-wrapper">
        <div *ngFor="let region of regionsData">
          <div class="geo-data">
            <span>{{ region.name }}</span>
            <span>{{ region.count }}</span>
          </div>
          <div *ngFor="let intermediateRegion of region.intermediateRegions">
            <div class="geo-data sub-region-data">
              <span>{{ intermediateRegion.name + " (" + intermediateRegion.count + ")" }}</span>
            </div>
            <div
              class="geo-data intermediate-region-data"
              *ngFor="let subRegion of intermediateRegion.subRegions"
            >
              <span>{{ subRegion.name + " (" + subRegion.count + ")" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="data" *ngIf="activeItem == DataTypes.ARTISTS">
      <div *ngIf="isMessageActive">
        <p-messages class="suggestion-message-wrapper" severity="warn">
          <ng-template pTemplate>
            <div>
              <span class="pi pi-exclamation-triangle suggestion-message-icon"></span>
            </div>
            <div class="suggestion-message">
              <div>
                <i>"Why is it saying that Taylor Swift was born in North Korea?"</i>
                <div class="suggestion-message-content">
                  Sometimes, the little robot that guesses the artist's country of origin might be
                  way off the target. He's trying his best. You can help him by suggesting the
                  correct country of origin for your favourite artists!
                </div>
              </div>
              <div class="suggestion-message-close-btn">
                <p-button
                  (onClick)="hideMessage()"
                  styleClass="p-ripple p-element p-message-close p-link"
                  icon="pi pi-times"
                ></p-button>
              </div>
            </div>
          </ng-template>
        </p-messages>
      </div>
      <div class="data-title-wrapper artist-data-title">
        <div>
          <h2 class="data-title">Ranking</h2>
          <span class="data-subtitle">by most played artists</span>
        </div>
        <p-button (onClick)="openDialog()" label="Suggest correct countries"></p-button>
      </div>
      <div class="data-content-wrapper">
        <table class="artist-table">
          <tbody>
            <tr *ngFor="let artist of artists; let i = index">
              <td class="data-index">
                {{ i + 1 }}
              </td>
              <td>
                <div class="artist-data">
                  <span class="artist-name">
                    {{ artist.name }}
                  </span>
                  <div>
                    <span
                      class="{{
                        'flag fi fi-' + (artist.country == null ? 'xx' : artist.country.flagCode)
                      }}"
                    >
                    </span>
                    <span class="country-name">
                      {{ artist.country?.name || "Unknown" }}
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-template>
